<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <nav>
      <a href="/new">Submit a new message</a>
    </nav>
    <% messages.forEach((item) => {%>
    <h2>Message: <%= item.text %></h2>
    <h3>User: <%= item.user %></h3>
    <p>Date: <%= item.added %></p>
    <br />
    <% }) %>
  </body>
</html>
